/* 
Note: Install gulp and gulp-sass from `package.json` via `npm install` and then run `gulp styles` or `gulp watch` to render CSS output for any changes in this file.
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
body {
  font-family: 'Glober', 'Roboto', sans-serif; }

.row {
  margin-left: 0px;
  margin-right: 0px; }

#header-wrapper {
  margin-left: 3px;
  margin-bottom: 9px; }
  #header-wrapper h1 {
    color: #676870;
    margin-top: -1px;
    font-size: 2.7rem; }
  #header-wrapper h2 {
    font-weight: 800;
    font-size: 1.4rem;
    margin-left: -3px; }
    @media screen and (max-width: 461px) {
      #header-wrapper h2 {
        margin-bottom: 0px; } }
  #header-wrapper h3 {
    font-size: 1rem;
    display: inline;
    margin-left: 3px;
    position: relative;
    top: 2px; }
  #header-wrapper a {
    text-decoration: none;
    color: #000; }
  #header-wrapper img {
    width: 7%;
    max-width: 23px;
    position: relative;
    right: 1px; }
  #header-wrapper .logo-circle {
    width: 8px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    display: inline-block;
    -moz-border-radius: 50%;
    border: 2px solid #3fac29;
    height: 8px;
    position: relative;
    left: 95px;
    top: 18px; }
  #header-wrapper #phone {
    color: #54b8cd; }
  @media screen and (min-width: 576px) {
    #header-wrapper {
      margin-bottom: 25px; }
      #header-wrapper #contact-wrapper {
        padding: 18px;
        text-align: right;
        position: relative;
        top: 15px; }
      #header-wrapper h1 {
        font-size: 3.5rem; }
      #header-wrapper .logo-circle {
        height: 10px;
        width: 10px;
        left: 124px;
        top: 22px; } }

#hero-wrapper {
  background-color: #4c813d;
  padding-top: 26px;
  background-image: url(../img/green-leaves-bg.jpg);
  background-size: 160% 151%;
  background-position-y: -15px;
  background-position-x: -14px;
  height: 308px; }
  #hero-wrapper h1 {
    text-transform: uppercase;
    color: white;
    font-size: 1.9rem;
    text-align: center;
    letter-spacing: 2.5px;
    overflow: hidden;
    margin: auto -9px 15px -9px; }
  #hero-wrapper h1:before,
  #hero-wrapper h1:after {
    background-color: #fff;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    bottom: 5px;
    width: 50%; }
  #hero-wrapper h1:before {
    right: 0.2em;
    margin-left: -50%; }
  #hero-wrapper h1:after {
    left: 0.2em;
    margin-right: -50%; }
  #hero-wrapper p {
    color: white;
    font-size: 2rem;
    margin-top: -5px;
    width: auto;
    max-width: 315px;
    min-width: 315px;
    font-weight: 500;
    line-height: 1.32em;
    position: relative;
    left: 17px; }
  #hero-wrapper p:nth-child(3) {
    position: relative;
    bottom: 12.5px; }
  #hero-wrapper .asterisk {
    vertical-align: super;
    font-size: 67%;
    position: relative;
    bottom: 3px;
    left: 1px; }
  #hero-wrapper #increases-bone-density {
    font-size: 2.4rem; }
  #hero-wrapper p:nth-child(2) {
    display: block;
    background-image: url(../img/underlines.png);
    background-repeat: no-repeat;
    background-size: 80% 42%;
    background-position-y: 114px;
    background-position-x: -7px; }
  @media screen and (min-width: 576px) {
    #hero-wrapper {
      background-position-y: 0px;
      background-position-x: 0px;
      height: auto;
      padding-bottom: 30px; }
      #hero-wrapper h1 {
        font-size: 3em; }
      #hero-wrapper p {
        font-size: 2.7rem;
        max-width: 435px; }
      #hero-wrapper p:nth-child(2) {
        background-size: 80.5% 42%;
        background-position-y: 153px;
        background-position-x: -8px; }
      #hero-wrapper #increases-bone-density {
        font-size: 3rem; } }
  @media screen and (max-width: 360px) {
    #hero-wrapper {
      height: 100%; }
      #hero-wrapper p:nth-child(2) {
        background-image: none; }
      #hero-wrapper #increases-bone-density {
        text-decoration: underline;
        text-decoration-color: #e81010; }
      #hero-wrapper p {
        width: 100%;
        min-width: 100%;
        left: 0px; }
      #hero-wrapper #hero-wrapper h1 {
        font-size: 1.4rem;
        margin: auto 0px 15px 0px; } }

#video-wrapper {
  margin-bottom: 2px; }
  #video-wrapper p {
    font-size: 1.27rem;
    margin-top: 16px;
    line-height: 1.3; }
  #video-wrapper p:nth-child(1) {
    margin-bottom: 0px; }
  #video-wrapper #video-tagline {
    margin-top: 0px; }
  #video-wrapper #video {
    margin-top: auto;
    margin-bottom: auto; }
  @media screen and (min-width: 576px) {
    #video-wrapper {
      padding: 40px 20px 30px 20px;
      margin-top: auto;
      margin-bottom: auto; }
      #video-wrapper p {
        font-size: 2em; }
      #video-wrapper .col-lg-6 {
        margin-top: auto;
        margin-bottom: auto; }
      #video-wrapper #video-tagline {
        margin-bottom: 50px; } }

#pricing-boxes-wrapper {
  margin-top: 24px; }
  #pricing-boxes-wrapper h2, #pricing-boxes-wrapper h3 {
    text-align: center; }
  #pricing-boxes-wrapper h2 {
    font-size: 1.6rem; }
  #pricing-boxes-wrapper h3 {
    font-weight: 400;
    font-size: 1.1rem;
    color: #0598b3;
    line-height: 1.1em; }
  #pricing-boxes-wrapper .discount-badge {
    z-index: 100;
    padding: 20px;
    background-color: #e87b15;
    font-size: 1.4em;
    color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    height: 70px;
    width: 70px;
    box-shadow: 0px 0px 5px 0px #000000c4;
    margin-left: auto;
    position: relative;
    bottom: 0px;
    right: 1px;
    line-height: 1.1em; }
    #pricing-boxes-wrapper .discount-badge span {
      position: relative;
      right: 5px;
      bottom: 4px; }
    #pricing-boxes-wrapper .discount-badge span:nth-child(1) {
      font-weight: 500; }
    #pricing-boxes-wrapper .discount-badge span:nth-child(2) {
      font-weight: 500; }
    #pricing-boxes-wrapper .discount-badge span:nth-child(3) {
      font-size: .7em;
      left: 1px;
      bottom: 10px; }
  #pricing-boxes-wrapper .card {
    border: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    box-shadow: 0px 0px 15px -3px #000000b0;
    margin: -39px 44px -3px 26px;
    padding-top: 19px; }
    #pricing-boxes-wrapper .card .card-img-top {
      margin-left: auto;
      margin-right: auto;
      margin-top: 6px; }
    #pricing-boxes-wrapper .card .card-body {
      padding-top: 0px;
      text-align: center;
      margin-top: -11px;
      padding-bottom: 0px; }
      #pricing-boxes-wrapper .card .card-body img {
        width: 80px;
        position: relative;
        left: 25px;
        max-width: 92px;
        display: inline; }
    #pricing-boxes-wrapper .card .card-text {
      margin: 0px;
      padding: 0px; }
    #pricing-boxes-wrapper .card h4 {
      font-size: 2rem;
      margin-bottom: 1px; }
      #pricing-boxes-wrapper .card h4 span:nth-child(1) {
        vertical-align: super;
        font-size: 1.2rem; }
      #pricing-boxes-wrapper .card h4 span:nth-child(2) {
        text-decoration: underline;
        font-size: .4em;
        vertical-align: middle;
        position: relative;
        bottom: 1px; }
    #pricing-boxes-wrapper .card h5 {
      margin-bottom: 1px;
      font-weight: 400; }
      #pricing-boxes-wrapper .card h5 span {
        vertical-align: super;
        font-size: .6em;
        font-weight: bold; }
    #pricing-boxes-wrapper .card .btn-primary {
      background-color: #38a33f;
      border-color: #24875a;
      font-weight: 400;
      font-size: 1.1rem;
      border-bottom-width: 6px;
      border-top: 0px;
      border-left: 0px;
      border-right: 0px;
      letter-spacing: 1px;
      padding: 9px 20px 6px 30px;
      border-radius: 7px;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px; }
    #pricing-boxes-wrapper .card .btn-primary:hover {
      background-color: #43c56c; }
    #pricing-boxes-wrapper .card .seven-year-guarantee {
      background-image: url(../img/7-years-guarantee-better-bone-health.png);
      background-size: cover;
      width: 77px;
      height: 77px;
      position: relative;
      display: inline-block;
      top: 68px;
      right: 110px; }
    #pricing-boxes-wrapper .card i {
      padding-left: 5px;
      font-size: 87%; }
    #pricing-boxes-wrapper .card .add-to-cart {
      position: relative;
      display: inline-block;
      right: 34px;
      width: 115%; }
  #pricing-boxes-wrapper .successive-badge {
    position: relative;
    top: 17px; }
  @media screen and (max-width: 337px) and (min-width: 365px) {
    #pricing-boxes-wrapper .card-body img {
      left: -20% !important;
      top: 60px; } }
  @media screen and (max-width: 365px) {
    #pricing-boxes-wrapper h2 {
      font-size: 1.25em; }
    #pricing-boxes-wrapper i {
      padding-left: 0px !important; }
    #pricing-boxes-wrapper .add-to-cart {
      width: 100% !important;
      right: 0px !important;
      padding-left: 10px;
      margin-top: -72px; }
    #pricing-boxes-wrapper .btn-primary {
      width: 100% !important;
      padding: 9px 0px 6px 35px !important; }
    #pricing-boxes-wrapper .card-body {
      padding-bottom: 0px; }
      #pricing-boxes-wrapper .card-body img {
        left: -80px !important;
        top: 63px;
        transform: scale(0.85); } }
  @media screen and (max-width: 632px) and (min-width: 420px) {
    #pricing-boxes-wrapper .add-to-cart {
      width: 100% !important;
      right: 0px !important;
      margin-top: -67px;
      padding: 0px 0px 10px 20px; }
    #pricing-boxes-wrapper .btn-primary {
      width: 100% !important; }
    #pricing-boxes-wrapper .card-body img {
      left: -43% !important;
      top: 60px; } }
  @media screen and (min-width: 633px) and (max-width: 991px) {
    #pricing-boxes-wrapper h4 {
      font-size: 3.5rem; }
    #pricing-boxes-wrapper h5 {
      font-size: 1.5rem; }
    #pricing-boxes-wrapper .discount-badge {
      transform: scale(2);
      right: 50px; }
    #pricing-boxes-wrapper .add-to-cart {
      width: 100% !important;
      right: 0px !important;
      padding: 0px 50px 22px 50px;
      margin-top: -86px; }
    #pricing-boxes-wrapper .btn-primary {
      width: 100% !important;
      font-size: 1.4rem !important; }
    #pricing-boxes-wrapper .card {
      margin-bottom: 40px; }
      #pricing-boxes-wrapper .card .card-body {
        margin-top: -39px !important; }
        #pricing-boxes-wrapper .card .card-body img {
          width: 100px;
          top: 71px !important;
          max-width: 100px;
          left: -43.2% !important; } }
  @media screen and (min-width: 776px) and (max-width: 991px) {
    #pricing-boxes-wrapper .card .card-body img {
      left: -45% !important; } }
  @media screen and (min-width: 527px) and (max-width: 632px) {
    #pricing-boxes-wrapper .discount-badge {
      transform: scale(1.7);
      top: 12px;
      right: 50px; } }
  @media screen and (min-width: 992px) {
    #pricing-boxes-wrapper .card {
      margin: -39px 15px 0px 15px; }
    #pricing-boxes-wrapper .successive-badge {
      top: -8px; }
    #pricing-boxes-wrapper .discount-badge {
      transform: scale(1.2);
      bottom: 10px; }
    #pricing-boxes-wrapper .add-to-cart {
      width: 90% !important;
      right: 0px !important;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px; }
    #pricing-boxes-wrapper .btn-primary {
      width: 90%;
      padding: 9px 15px 6px 40px !important; }
    #pricing-boxes-wrapper .card .card-body img {
      position: absolute;
      left: -20px;
      top: -18px;
      transform: scale(0.8); } }
  @media screen and (min-width: 1200px) {
    #pricing-boxes-wrapper .discount-badge {
      transform: scale(1.3);
      right: 10px; } }

#nutrition-facts-wrapper {
  margin-top: 30px; }
  #nutrition-facts-wrapper h1 {
    font-size: 1.9rem;
    text-align: center; }
  #nutrition-facts-wrapper #strontium-header {
    padding-top: 12px;
    padding-bottom: 1px; }

.nutrition-card {
  border: 3px solid black; }
  .nutrition-card h2 {
    padding-top: 18px;
    text-align: center; }
  .nutrition-card h4 {
    font-size: 1.1rem;
    line-height: 1;
    padding-left: 11px; }
  .nutrition-card div {
    margin-top: 15px;
    margin-bottom: 18px; }
  .nutrition-card table {
    margin-left: 6px;
    margin-right: 6px;
    width: 97%;
    margin-bottom: 5px; }
    .nutrition-card table thead {
      border-top: 17px solid black; }
      .nutrition-card table thead tr:nth-child(1) {
        font-size: 1.1rem;
        font-weight: 400;
        border-bottom: 8px solid black;
        line-height: 1.4; }
      .nutrition-card table thead td {
        padding: 1px; }
      .nutrition-card table thead td:nth-child(2) {
        text-align: right; }
    .nutrition-card table tbody td {
      padding: 1px;
      font-weight: 600;
      border-top: 0px;
      font-size: 1.1rem;
      padding-top: 4px;
      padding-left: 4px; }
      .nutrition-card table tbody td p {
        font-size: .96rem;
        line-height: 1.2;
        font-weight: 600;
        margin-bottom: 4px; }
        @media screen and (max-width: 412px) {
          .nutrition-card table tbody td p {
            width: 200px; } }
    .nutrition-card table tbody tr td:nth-child(2) {
      text-align: right;
      padding-right: 4px; }
    .nutrition-card table tbody .algae-nutrition-last {
      border-top: 16px solid black; }
      .nutrition-card table tbody .algae-nutrition-last td {
        padding-top: 11px; }
    .nutrition-card table tbody .nutrition-last {
      border-bottom: 16px solid black; }
    .nutrition-card table .daily-value {
      font-size: 30px; }
  .nutrition-card .daily-value {
    font-weight: 500;
    padding-left: 10px;
    margin-bottom: 10px; }
  .nutrition-card .asterisk {
    vertical-align: super;
    font-size: .7rem; }

@media screen and (min-width: 992px) {
  #nutrition-facts-wrapper {
    margin-top: 40px; } }

#guarantee-wrapper {
  padding-top: 19px; }
  @media screen and (min-width: 992px) {
    #guarantee-wrapper {
      padding-top: 40px; } }
  #guarantee-wrapper #seven-years-guarantee {
    background-color: #38a33f;
    padding: 1px 0px 1px 0px;
    background-image: url(../img/green-leaves-bg.jpg);
    padding: 1px 0px 1px 0px;
    background-size: 500% 500%;
    background-position-y: 500px;
    background-position-x: 0px; }
  #guarantee-wrapper img {
    margin-left: auto;
    margin-right: auto;
    display: block; }
  #guarantee-wrapper h1 {
    font-size: 1.7rem;
    color: #e47730;
    margin-top: 30px;
    font-weight: 400;
    width: 90%; }
  #guarantee-wrapper h4 {
    font-size: 1.15rem;
    font-weight: 600;
    line-height: .4; }
  #guarantee-wrapper h5 {
    font-weight: 300;
    font-size: 1.13rem;
    line-height: 1.28;
    margin-bottom: 0px; }
  #guarantee-wrapper #seven-years-guarantee-inner-wrap {
    margin: 20px;
    padding: 20px;
    background-color: white; }
    #guarantee-wrapper #seven-years-guarantee-inner-wrap p {
      font-size: 1.1rem;
      font-weight: 300;
      width: 99%; }
    #guarantee-wrapper #seven-years-guarantee-inner-wrap a {
      text-decoration: underline;
      color: #64b8c8; }
    #guarantee-wrapper #seven-years-guarantee-inner-wrap a:hover {
      color: #000; }
    #guarantee-wrapper #seven-years-guarantee-inner-wrap div {
      margin-left: auto;
      margin-right: auto;
      margin-top: 21px;
      margin-bottom: 17px;
      margin-left: 23%; }
  #guarantee-wrapper #badge {
    margin-top: 17px; }
  #guarantee-wrapper #bio-pic {
    margin-top: 35px; }
  #guarantee-wrapper #bio-signature {
    margin-top: 9px;
    padding-bottom: 1px;
    border-bottom: 2px solid #434343; }

#as-seen-on {
  margin-top: 35px; }
  #as-seen-on h5 {
    text-align: center;
    background-color: #4c813d;
    color: white;
    font-size: 22px;
    padding-top: 8px;
    padding-bottom: 5px;
    font-weight: 400;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px; }
  #as-seen-on .card {
    border: 0px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    box-shadow: 0px 0px 21px -4px #000000e8; }
    #as-seen-on .card img {
      height: 32px; }
    #as-seen-on .card .card-body {
      padding: .8rem;
      margin-top: 5px; }
      #as-seen-on .card .card-body .col-3 {
        padding-left: 0px; }
      #as-seen-on .card .card-body div:nth-child(1) div:nth-child(3) {
        margin-left: -15px;
        margin-right: 5px; }
      #as-seen-on .card .card-body div:nth-child(1) div:nth-child(4) {
        margin-top: 6px;
        margin-bottom: auto; }
      #as-seen-on .card .card-body div:nth-child(2) div {
        margin-top: 7px;
        padding-left: 0px;
        padding-right: 0px; }
        #as-seen-on .card .card-body div:nth-child(2) div div {
          padding-right: 0px; }
        #as-seen-on .card .card-body div:nth-child(2) div img {
          height: 45px; }
        #as-seen-on .card .card-body div:nth-child(2) div h4, #as-seen-on .card .card-body div:nth-child(2) div h5, #as-seen-on .card .card-body div:nth-child(2) div p {
          display: inline-block; }
        #as-seen-on .card .card-body div:nth-child(2) div h4 {
          font-size: .95em;
          font-style: italic;
          vertical-align: top;
          margin-bottom: 0px; }
        #as-seen-on .card .card-body div:nth-child(2) div p {
          display: block;
          margin-top: -8px;
          margin-bottom: 0px;
          font-weight: 300;
          font-size: .7em; }
        #as-seen-on .card .card-body div:nth-child(2) div h6 {
          font-size: .86rem; }
        #as-seen-on .card .card-body div:nth-child(2) div .col-10 {
          padding-left: 10px; }
      #as-seen-on .card .card-body div:nth-child(2) #your-bones {
        padding-left: 20px; }
  #as-seen-on #amazon {
    width: 85px;
    height: auto; }

#scientific-references {
  margin-top: 30px; }
