/* 
Note: Install gulp and gulp-sass from `package.json` via `npm install` and then run `gulp styles` or `gulp watch` to render CSS output for any changes in this file.
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
body {
  font-family: 'Glober', 'Roboto', sans-serif; }

.row {
  margin-left: 0px;
  margin-right: 0px; }

.btn-algaecal {
  background-color: #38a33f;
  color: white;
  border-color: #24875a;
  font-weight: 400;
  font-size: 1.1rem;
  border-bottom-width: 6px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  letter-spacing: 1px;
  padding: 9px 20px 6px 30px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px; }

.btn-algaecal:hover {
  background-color: #43c56c;
  border-color: #2b7c44; }

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #43c56c;
  border-color: #2b7c44; }

.btn-close-button {
  background-color: #777777;
  border-color: #4c4c4c; }

.btn-close-button:hover {
  background-color: darkgrey;
  border-color: gray; }

.modal-btn {
  padding: 9px 30px 6px 30px; }

i {
  padding-left: 5px;
  font-size: 87%; }

.logo {
  color: #676870;
  margin-top: -1px;
  font-size: 2.7rem; }

.logo-circle {
  width: 8px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  display: inline-block;
  -moz-border-radius: 50%;
  border: 2px solid #3fac29;
  height: 8px;
  position: relative;
  left: 95px;
  top: 18px; }

.form-row {
  padding-bottom: 10px; }

#header-wrapper {
  margin-left: 3px;
  margin-bottom: 9px; }
  #header-wrapper h2 {
    font-weight: 800;
    font-size: 1.4rem;
    margin-left: -3px; }
  #header-wrapper h3 {
    font-size: 1rem;
    display: inline;
    margin-left: 3px;
    position: relative;
    top: 2px; }
  #header-wrapper a {
    text-decoration: none;
    color: #000; }
  #header-wrapper img {
    width: 7%;
    max-width: 23px;
    position: relative;
    right: 1px; }
  #header-wrapper #phone {
    color: #54b8cd; }
  #header-wrapper #contact-wrapper {
    display: none; }
  @media screen and (max-width: 461px) {
    #header-wrapper h2 {
      margin-bottom: 0px; } }
  @media screen and (min-width: 576px) {
    #header-wrapper {
      margin-bottom: 25px; }
      #header-wrapper h1 {
        font-size: 3.5rem; }
      #header-wrapper .logo-circle {
        height: 10px;
        width: 10px;
        left: 124px;
        top: 22px; }
      #header-wrapper #contact-wrapper {
        padding: 18px 18px 18px 0px;
        text-align: right;
        position: relative;
        top: 15px; } }
  @media screen and (min-width: 576px) and (max-width: 672px) {
    #header-wrapper #phone {
      display: block; } }

#hero-wrapper {
  background-color: #4c813d;
  padding-top: 26px;
  background-image: url(../img/green-leaves-bg.jpg);
  background-size: 160% 151%;
  background-position-y: -15px;
  background-position-x: -14px;
  height: 308px; }
  #hero-wrapper h1 {
    text-transform: uppercase;
    color: white;
    font-size: 1.9rem;
    text-align: center;
    letter-spacing: 2.5px;
    overflow: hidden;
    margin: auto -9px 15px -9px; }
  #hero-wrapper h1:before,
  #hero-wrapper h1:after {
    background-color: #fff;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    bottom: 5px;
    width: 50%; }
  #hero-wrapper h1:before {
    right: 0.2em;
    margin-left: -50%; }
  #hero-wrapper h1:after {
    left: 0.2em;
    margin-right: -50%; }
  #hero-wrapper p {
    color: white;
    font-size: 2rem;
    margin-top: -5px;
    width: auto;
    max-width: 315px;
    min-width: 315px;
    font-weight: 500;
    line-height: 1.32em;
    position: relative;
    left: 17px; }
  #hero-wrapper p:nth-child(3) {
    position: relative;
    bottom: 12.5px; }
  #hero-wrapper .asterisk {
    vertical-align: super;
    font-size: 67%;
    position: relative;
    bottom: 3px;
    left: 1px; }
  #hero-wrapper #increases-bone-density {
    font-size: 2.4rem; }
  #hero-wrapper p:nth-child(2) {
    display: block;
    background-image: url(../img/underlines.png);
    background-repeat: no-repeat;
    background-size: 80% 42%;
    background-position-y: 114px;
    background-position-x: -7px; }
  @media screen and (min-width: 576px) {
    #hero-wrapper {
      background-position-y: 0px;
      background-position-x: 0px;
      height: auto;
      padding-bottom: 30px; }
      #hero-wrapper h1 {
        font-size: 3em; }
      #hero-wrapper p {
        font-size: 2.7rem;
        max-width: 435px; }
      #hero-wrapper p:nth-child(2) {
        background-size: 80.5% 42%;
        background-position-y: 153px;
        background-position-x: -8px; }
      #hero-wrapper #increases-bone-density {
        font-size: 3rem; } }
  @media screen and (max-width: 360px) {
    #hero-wrapper {
      height: 100%; }
      #hero-wrapper p:nth-child(2) {
        background-image: none; }
      #hero-wrapper #increases-bone-density {
        text-decoration: underline;
        text-decoration-color: #e81010; }
      #hero-wrapper p {
        width: 100%;
        min-width: 100%;
        left: 0px; }
      #hero-wrapper #hero-wrapper h1 {
        font-size: 1.4rem;
        margin: auto 0px 15px 0px; } }

#video-wrapper {
  margin-bottom: 2px; }
  #video-wrapper p {
    font-size: 1.27rem;
    margin-top: 16px;
    line-height: 1.3; }
  #video-wrapper p:nth-child(1) {
    margin-bottom: 0px; }
  #video-wrapper #video-tagline {
    margin-top: 0px; }
  #video-wrapper #video-play-button, #video-wrapper #play-button {
    left: 50%;
    top: 50%;
    position: absolute !important;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  #video-wrapper #video {
    margin-top: auto;
    margin-bottom: auto; }
  #video-wrapper #video-play-button {
    width: 23%;
    height: 28%;
    border-radius: 18%;
    background: #e32a26;
    background: -moz-linear-gradient(top, #e32a26 36%, #c2171e 100%);
    background: -webkit-linear-gradient(top, #e32a26 36%, #c2171e 100%);
    background: linear-gradient(to bottom, #e32a26 36%, #c2171e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e32a26', endColorstr='#c2171e', GradientType=0);
    box-shadow: 0px 0px 15px 2px black;
    -webkit-box-shadow: 0px 0px 15px 2px black;
    -moz-box-shadow: 0px 0px 15px 2px black; }
  #video-wrapper #video-play-button:hover {
    background: #b71f1f;
    background: -moz-linear-gradient(top, #b71f1f 36%, #9e1215 100%);
    background: -webkit-linear-gradient(top, #b71f1f 36%, #9e1215 100%);
    background: linear-gradient(to bottom, #b71f1f 36%, #9e1215 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b71f1f', endColorstr='#9e1215', GradientType=0);
    cursor: pointer; }
  #video-wrapper #play-button {
    padding-left: 0px;
    color: white;
    font-size: 6vw; }
  #video-wrapper .play-button-hover {
    color: #e2e2e2 !important; }
  #video-wrapper #tap-to-play-button {
    display: inline;
    left: 50%;
    top: 50%;
    position: absolute !important;
    -webkit-transform: translate(-6%, 70%);
    -moz-transform: translate(-6%, 70%);
    transform: translate(-6%, 70%); }
    #video-wrapper #tap-to-play-button p {
      display: inline;
      position: relative;
      font-size: 5.1vw;
      top: 12px;
      right: 8px;
      color: white;
      font-weight: 300; }
  @media screen and (min-width: 435px) {
    #video-wrapper #tap-to-play-button {
      margin-top: 4%; } }
  @media screen and (min-width: 576px) {
    #video-wrapper {
      padding: 40px 20px 30px 20px;
      margin-top: auto;
      margin-bottom: auto; }
      #video-wrapper p {
        font-size: 2em; }
      #video-wrapper .col-lg-6 {
        margin-top: auto;
        margin-bottom: auto; }
      #video-wrapper #video-tagline {
        margin-bottom: 50px; } }
  @media screen and (min-width: 992px) {
    #video-wrapper #play-button {
      font-size: 3vw; }
    #video-wrapper #tap-to-play-button p {
      font-size: 2.1vw; } }

#pricing-boxes-wrapper {
  margin-top: 24px; }
  #pricing-boxes-wrapper h2, #pricing-boxes-wrapper h3 {
    text-align: center; }
  #pricing-boxes-wrapper h2 {
    font-size: 1.6rem; }
  #pricing-boxes-wrapper h3 {
    font-weight: 400;
    font-size: 1.1rem;
    color: #0598b3;
    line-height: 1.1em; }
  #pricing-boxes-wrapper .discount-badge {
    z-index: 100;
    padding: 20px;
    background-color: #e87b15;
    font-size: 1.4em;
    color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    height: 70px;
    width: 70px;
    box-shadow: 0px 0px 5px 0px #000000c4;
    margin-left: auto;
    position: relative;
    bottom: 0px;
    right: 1px;
    line-height: 1.1em; }
    #pricing-boxes-wrapper .discount-badge span {
      position: relative;
      right: 5px;
      bottom: 4px; }
    #pricing-boxes-wrapper .discount-badge span:nth-child(1) {
      font-weight: 500; }
    #pricing-boxes-wrapper .discount-badge span:nth-child(2) {
      font-weight: 500; }
    #pricing-boxes-wrapper .discount-badge span:nth-child(3) {
      font-size: .7em;
      left: 1px;
      bottom: 10px; }
  #pricing-boxes-wrapper .card {
    border: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    box-shadow: 0px 0px 15px -3px #000000b0;
    margin: -39px 36px -3px 26px;
    padding-top: 19px; }
    #pricing-boxes-wrapper .card .card-img-top {
      margin-left: auto;
      margin-right: auto; }
    #pricing-boxes-wrapper .card .card-body {
      padding-top: 0px;
      text-align: center;
      margin-top: -11px;
      margin-bottom: -3px;
      padding-bottom: 0px; }
      #pricing-boxes-wrapper .card .card-body img {
        position: relative;
        left: 25px;
        max-width: 77px;
        display: inline; }
    #pricing-boxes-wrapper .card .card-text {
      margin: 0px;
      padding: 0px; }
    #pricing-boxes-wrapper .card h4 {
      font-size: 2rem;
      margin-bottom: 1px;
      margin-top: 5px;
      margin-left: 15px; }
      #pricing-boxes-wrapper .card h4 span:nth-child(1) {
        vertical-align: super;
        font-size: 1.2rem; }
      #pricing-boxes-wrapper .card h4 span:nth-child(2) {
        text-decoration: underline;
        font-size: .35em;
        font-weight: 700;
        vertical-align: middle;
        position: relative;
        bottom: 1px; }
    #pricing-boxes-wrapper .card h5 {
      margin-bottom: 1px;
      font-weight: 400;
      background-image: url(../img/highlight.png);
      background-size: cover;
      background-repeat: no-repeat;
      width: 81%;
      margin-left: 41px;
      position: relative;
      bottom: 2px; }
      #pricing-boxes-wrapper .card h5 span {
        vertical-align: super;
        font-size: .6em;
        font-weight: bold; }
    #pricing-boxes-wrapper .card .seven-year-guarantee {
      background-image: url(../img/7-years-guarantee-better-bone-health.png);
      background-size: cover;
      width: 77px;
      height: 77px;
      position: relative;
      display: inline-block;
      top: 68px;
      right: 110px; }
    #pricing-boxes-wrapper .card .add-to-cart {
      position: relative;
      display: inline-block;
      right: 34px;
      width: 115%;
      margin-top: -8px; }
      @media screen and (max-width: 365px) {
        #pricing-boxes-wrapper .card .add-to-cart {
          margin-top: -60px; } }
      @media screen and (min-width: 383px) and (max-width: 420px) {
        #pricing-boxes-wrapper .card .add-to-cart {
          margin-top: 2%; } }
      @media screen and (min-width: 420px) {
        #pricing-boxes-wrapper .card .add-to-cart {
          margin-top: -60px; } }
      @media screen and (min-width: 776px) {
        #pricing-boxes-wrapper .card .add-to-cart {
          margin-bottom: 4%; } }
      @media screen and (min-width: 992px) {
        #pricing-boxes-wrapper .card .add-to-cart {
          margin-top: 2% !important; } }
  #pricing-boxes-wrapper h6 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: .9em;
    padding-top: 5px;
    letter-spacing: 2.3px; }
    @media screen and (min-width: 527px) {
      #pricing-boxes-wrapper h6 {
        font-size: 1.2em;
        padding-top: 7px; } }
    @media screen and (min-width: 992px) {
      #pricing-boxes-wrapper h6 {
        font-size: .9em; } }
  #pricing-boxes-wrapper #most-popular {
    background-color: #008ba4;
    margin: 15px;
    padding-bottom: 1px;
    margin-top: -40px; }
  #pricing-boxes-wrapper #most-popular-card {
    margin: -4px 12px 12px 12px; }
  #pricing-boxes-wrapper .successive-badge {
    position: relative;
    top: 17px; }
  @media screen and (max-width: 337px) and (min-width: 365px) {
    #pricing-boxes-wrapper .card-body img {
      left: -20% !important;
      top: 60px; } }
  @media screen and (max-width: 365px) {
    #pricing-boxes-wrapper h2 {
      font-size: 1.25em; }
    #pricing-boxes-wrapper i {
      padding-left: 0px !important; }
    #pricing-boxes-wrapper .add-to-cart {
      width: 100% !important;
      right: 0px !important;
      padding-left: 10px;
      margin-top: -72px; }
    #pricing-boxes-wrapper .btn-primary {
      width: 100% !important;
      padding: 9px 0px 6px 35px !important; }
    #pricing-boxes-wrapper .card-body {
      padding-bottom: 0px; }
      #pricing-boxes-wrapper .card-body img {
        left: -80px !important;
        top: 63px;
        transform: scale(0.85); } }
  @media screen and (min-width: 418px) {
    #pricing-boxes-wrapper h5 {
      margin-top: 4px; } }
  @media screen and (min-width: 400px) {
    #pricing-boxes-wrapper h5 {
      max-width: 200px !important;
      margin-left: auto !important;
      margin-right: auto !important; } }
  @media screen and (max-width: 632px) and (min-width: 420px) {
    #pricing-boxes-wrapper .add-to-cart {
      width: 100% !important;
      right: 0px !important;
      margin-top: -67px;
      padding: 0px 0px 10px 20px; }
    #pricing-boxes-wrapper .btn-primary {
      width: 100% !important; }
    #pricing-boxes-wrapper .card-body img {
      left: -43% !important;
      top: 60px; } }
  @media screen and (min-width: 633px) and (max-width: 991px) {
    #pricing-boxes-wrapper h4 {
      font-size: 3.5rem; }
    #pricing-boxes-wrapper h5 {
      font-size: 1.5rem; }
    #pricing-boxes-wrapper .discount-badge {
      transform: scale(2);
      right: 50px; }
    #pricing-boxes-wrapper .add-to-cart {
      width: 100% !important;
      right: 0px !important;
      padding: 0px 50px 22px 50px;
      margin-top: -86px; }
    #pricing-boxes-wrapper .btn-primary {
      width: 100% !important;
      font-size: 1.4rem !important; }
    #pricing-boxes-wrapper .card {
      margin-bottom: 40px; }
      #pricing-boxes-wrapper .card .card-body {
        margin-top: -39px !important; }
        #pricing-boxes-wrapper .card .card-body img {
          width: 100px;
          top: 71px !important;
          max-width: 100px;
          left: -43.2% !important; } }
  @media screen and (min-width: 776px) and (max-width: 991px) {
    #pricing-boxes-wrapper .card .card-body img {
      left: -45% !important; } }
  @media screen and (min-width: 527px) and (max-width: 632px) {
    #pricing-boxes-wrapper .discount-badge {
      transform: scale(1.7);
      top: 12px;
      right: 50px; }
    #pricing-boxes-wrapper .card {
      margin-bottom: 30px; }
    #pricing-boxes-wrapper #most-popular {
      margin-bottom: 30px; } }
  @media screen and (min-width: 992px) {
    #pricing-boxes-wrapper div:nth-child(odd) {
      margin-top: 13px; }
    #pricing-boxes-wrapper .successive-badge {
      top: -8px; }
    #pricing-boxes-wrapper .discount-badge {
      transform: scale(1.2);
      bottom: 10px; }
    #pricing-boxes-wrapper .add-to-cart {
      width: 90% !important;
      right: 0px !important;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px; }
    #pricing-boxes-wrapper .btn-primary {
      width: 90%;
      padding: 9px 15px 6px 40px !important; }
    #pricing-boxes-wrapper .card {
      margin: -39px 15px 0px 15px; }
      #pricing-boxes-wrapper .card .card-body img {
        position: absolute;
        left: -20px;
        top: -18px;
        transform: scale(0.8); }
    #pricing-boxes-wrapper #most-popular {
      margin-left: 0px;
      margin-right: 0px; } }
  @media screen and (min-width: 1200px) {
    #pricing-boxes-wrapper .discount-badge {
      transform: scale(1.3);
      right: 10px; } }

#nutrition-facts-wrapper {
  margin-top: 30px; }
  #nutrition-facts-wrapper h1 {
    font-size: 1.9rem;
    text-align: center; }
  #nutrition-facts-wrapper #strontium-header {
    padding-top: 12px;
    padding-bottom: 1px; }
  @media screen and (min-width: 527px) {
    #nutrition-facts-wrapper {
      margin-top: 15px;
      margin-bottom: 15px; }
      #nutrition-facts-wrapper h1 {
        font-size: 2.2em; }
      #nutrition-facts-wrapper #strontium-header {
        margin-top: 15px; } }
  @media screen and (min-width: 776px) {
    #nutrition-facts-wrapper {
      margin-bottom: 4%; } }
  @media screen and (min-width: 992px) {
    #nutrition-facts-wrapper {
      margin-top: 40px;
      padding: 0px 2% 0px 2%; }
      #nutrition-facts-wrapper #strontium-header {
        margin-top: 0px;
        padding-top: 0px; } }

.nutrition-card {
  border: 3px solid black; }
  .nutrition-card h2 {
    padding-top: 18px;
    text-align: center; }
  .nutrition-card h4 {
    font-size: 1.1rem;
    line-height: 1;
    padding-left: 11px; }
  .nutrition-card div {
    margin-top: 15px;
    margin-bottom: 18px; }
  .nutrition-card table {
    margin-left: 6px;
    margin-right: 6px;
    width: 97%;
    margin-bottom: 5px; }
    .nutrition-card table thead {
      border-top: 17px solid black; }
      .nutrition-card table thead tr:nth-child(1) {
        font-size: 1.1rem;
        font-weight: 400;
        border-bottom: 8px solid black;
        line-height: 1.4; }
      .nutrition-card table thead td {
        padding: 1px; }
      .nutrition-card table thead td:nth-child(2) {
        text-align: right; }
    .nutrition-card table tbody td {
      padding: 1px;
      font-weight: 600;
      border-top: 0px;
      font-size: 1.1rem;
      padding-top: 4px;
      padding-left: 4px; }
      .nutrition-card table tbody td p {
        font-size: .96rem;
        line-height: 1.2;
        font-weight: 600;
        margin-bottom: 4px; }
        @media screen and (max-width: 412px) {
          .nutrition-card table tbody td p {
            width: 200px; } }
    .nutrition-card table tbody tr td:nth-child(2) {
      text-align: right;
      padding-right: 4px; }
    .nutrition-card table tbody .algae-nutrition-last {
      border-top: 16px solid black; }
      .nutrition-card table tbody .algae-nutrition-last td {
        padding-top: 11px; }
    .nutrition-card table tbody .nutrition-last {
      border-bottom: 16px solid black; }
    .nutrition-card table .daily-value {
      font-size: 30px; }
  .nutrition-card .daily-value {
    font-weight: 500;
    padding-left: 10px;
    margin-bottom: 10px; }
  .nutrition-card .asterisk {
    vertical-align: super;
    font-size: .7rem; }
  @media screen and (min-width: 776px) {
    .nutrition-card {
      padding-bottom: 2%; } }

#guarantee-wrapper {
  padding-top: 19px; }
  @media screen and (min-width: 992px) {
    #guarantee-wrapper {
      padding: 3.5% 2% 0 2%; } }
  #guarantee-wrapper #seven-years-guarantee {
    background-color: #38a33f;
    padding: 1px 0px 1px 0px;
    background-image: url(../img/green-leaves-bg.jpg);
    padding: 1px 0px 1px 0px;
    background-size: 500% 500%;
    background-position-y: 500px;
    background-position-x: 0px; }
  #guarantee-wrapper img {
    margin-left: auto;
    margin-right: auto;
    display: block; }
  #guarantee-wrapper h1 {
    font-size: 1.7rem;
    color: #e47730;
    margin-top: 30px;
    font-weight: 400;
    width: 90%; }
    @media screen and (min-width: 690px) {
      #guarantee-wrapper h1 {
        width: 100%;
        text-align: center; } }
    @media screen and (min-width: 1030px) {
      #guarantee-wrapper h1 {
        font-size: 3vw; } }
  #guarantee-wrapper h4 {
    font-size: 1.15rem;
    font-weight: 600;
    line-height: .4; }
  #guarantee-wrapper h5 {
    font-weight: 300;
    font-size: 1.13rem;
    line-height: 1.28;
    margin-bottom: 0px; }
  @media screen and (min-width: 690px) {
    #guarantee-wrapper h5:last-child {
      margin-bottom: 30px; } }
  #guarantee-wrapper #seven-years-guarantee-inner-wrap {
    margin: 20px;
    padding: 20px;
    background-color: white; }
    #guarantee-wrapper #seven-years-guarantee-inner-wrap p {
      font-size: 1.1rem;
      font-weight: 300;
      width: 99%; }
      @media screen and (min-width: 690px) {
        #guarantee-wrapper #seven-years-guarantee-inner-wrap p {
          padding: 30px 30px 0px 30px;
          margin-bottom: 0px; } }
      @media screen and (min-width: 990px) {
        #guarantee-wrapper #seven-years-guarantee-inner-wrap p {
          padding-left: 10%;
          padding-right: 10%; } }
      @media screen and (min-width: 1030px) {
        #guarantee-wrapper #seven-years-guarantee-inner-wrap p {
          font-size: 1.5em; } }
    #guarantee-wrapper #seven-years-guarantee-inner-wrap a {
      text-decoration: underline;
      color: #64b8c8; }
    #guarantee-wrapper #seven-years-guarantee-inner-wrap a:hover {
      color: #000; }
    #guarantee-wrapper #seven-years-guarantee-inner-wrap div {
      margin-right: auto;
      margin-top: 21px;
      margin-bottom: 17px;
      margin-left: 23%; }
      @media screen and (min-width: 423px) {
        #guarantee-wrapper #seven-years-guarantee-inner-wrap div {
          margin-right: auto;
          margin-left: auto;
          width: 174px; } }
  #guarantee-wrapper #badge {
    margin-top: 17px; }
    @media screen and (min-width: 1030px) {
      #guarantee-wrapper #badge {
        transform: scale(1.2);
        padding-top: 21px;
        padding-bottom: 15px; } }
  #guarantee-wrapper #bio-pic {
    margin-top: 35px; }
  #guarantee-wrapper #bio-signature {
    margin-top: 9px;
    padding-bottom: 1px;
    border-bottom: 2px solid #434343; }
  @media screen and (min-width: 776px) {
    #guarantee-wrapper {
      margin-bottom: 7%; } }

#seven-year-modal h2 {
  color: #e47730;
  font-weight: 400; }

#seven-year-modal h2, #seven-year-modal p {
  padding: 5px; }

#seven-year-modal .modal-body {
  padding: 0px 1rem 1rem 1rem; }
  #seven-year-modal .modal-body h3 {
    padding-top: 25px; }
  #seven-year-modal .modal-body img {
    width: 100% !important; }

#as-seen-on-wrapper {
  margin-top: 35px; }
  @media screen and (min-width: 992px) {
    #as-seen-on-wrapper {
      padding: 0 2% 0 2%; } }
  #as-seen-on-wrapper h5 {
    text-align: center;
    background-color: #4c813d;
    color: white;
    font-size: 22px;
    padding-top: 8px;
    padding-bottom: 5px;
    font-weight: 400;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px; }
    @media screen and (min-width: 749px) {
      #as-seen-on-wrapper h5 {
        font-size: 3vw; } }
    @media screen and (min-width: 1120px) {
      #as-seen-on-wrapper h5 {
        font-size: 2vw;
        padding: 6px; } }
  #as-seen-on-wrapper .card {
    border: 0px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    box-shadow: 0px 0px 21px -4px #000000e8; }
    #as-seen-on-wrapper .card img {
      height: 32px; }
      @media screen and (min-width: 749px) {
        #as-seen-on-wrapper .card img {
          height: 80px; } }
    #as-seen-on-wrapper .card .card-body {
      padding: .8rem;
      margin-top: 5px; }
      #as-seen-on-wrapper .card .card-body .col-3 {
        padding-left: 0px; }
      @media screen and (min-width: 749px) {
        #as-seen-on-wrapper .card .card-body div:nth-child(1) div {
          padding: 2% 4% 1% 4%; } }
      #as-seen-on-wrapper .card .card-body div:nth-child(1) div:nth-child(3) {
        margin-left: -15px;
        margin-right: 5px; }
      #as-seen-on-wrapper .card .card-body div:nth-child(1) div:nth-child(4) {
        margin-top: 6px;
        margin-bottom: auto; }
        @media screen and (min-width: 749px) {
          #as-seen-on-wrapper .card .card-body div:nth-child(1) div:nth-child(4) {
            margin-top: auto;
            margin-bottom: auto;
            position: relative;
            top: 6px; } }
      @media screen and (min-width: 570px) {
        #as-seen-on-wrapper .card .card-body div:nth-child(1) {
          text-align: center; } }
      #as-seen-on-wrapper .card .card-body div:nth-child(2) div {
        margin-top: 7px;
        padding-left: 0px;
        padding-right: 0px; }
        #as-seen-on-wrapper .card .card-body div:nth-child(2) div div {
          padding-right: 0px; }
          @media screen and (min-width: 749px) {
            #as-seen-on-wrapper .card .card-body div:nth-child(2) div div {
              padding: 0px 4% 2% 4% !important; } }
        #as-seen-on-wrapper .card .card-body div:nth-child(2) div img {
          height: 45px; }
          @media screen and (min-width: 570px) {
            #as-seen-on-wrapper .card .card-body div:nth-child(2) div img {
              text-align: center;
              height: 85px; } }
          @media screen and (min-width: 749px) {
            #as-seen-on-wrapper .card .card-body div:nth-child(2) div img {
              height: 100% !important; } }
        #as-seen-on-wrapper .card .card-body div:nth-child(2) div h4, #as-seen-on-wrapper .card .card-body div:nth-child(2) div h5, #as-seen-on-wrapper .card .card-body div:nth-child(2) div p {
          display: inline-block; }
        @media screen and (min-width: 749px) {
          #as-seen-on-wrapper .card .card-body div:nth-child(2) div h6, #as-seen-on-wrapper .card .card-body div:nth-child(2) div p {
            font-size: 1.1em !important;
            margin-left: 30px; } }
        #as-seen-on-wrapper .card .card-body div:nth-child(2) div h4 {
          font-size: .95em;
          font-style: italic;
          vertical-align: top;
          margin-bottom: 0px; }
          @media screen and (min-width: 749px) {
            #as-seen-on-wrapper .card .card-body div:nth-child(2) div h4 {
              font-size: 1.4em;
              padding: .4em;
              margin-left: 30px; } }
        #as-seen-on-wrapper .card .card-body div:nth-child(2) div p {
          display: block;
          margin-top: -8px;
          margin-bottom: 0px;
          font-weight: 300;
          font-size: .7em; }
          @media screen and (min-width: 749px) {
            #as-seen-on-wrapper .card .card-body div:nth-child(2) div p {
              padding: .2em; } }
        #as-seen-on-wrapper .card .card-body div:nth-child(2) div h6 {
          font-size: .86rem; }
        #as-seen-on-wrapper .card .card-body div:nth-child(2) div .col-10 {
          padding-left: 10px; }
          @media screen and (min-width: 570px) {
            #as-seen-on-wrapper .card .card-body div:nth-child(2) div .col-10 {
              margin-top: auto;
              margin-bottom: auto; } }
      #as-seen-on-wrapper .card .card-body div:nth-child(2) #your-bones {
        padding-left: 20px; }
  #as-seen-on-wrapper #amazon {
    width: 85px;
    height: auto; }
    @media screen and (min-width: 749px) {
      #as-seen-on-wrapper #amazon {
        width: 170px; } }

#scientific-references-wrapper {
  margin: 30px 0px 30px 0px; }
  #scientific-references-wrapper h2 {
    font-size: 1.4rem;
    color: #008ba4;
    font-weight: 400;
    text-align: center;
    margin-top: 8px; }
    @media screen and (min-width: 749px) {
      #scientific-references-wrapper h2 {
        font-size: 2rem; } }
  #scientific-references-wrapper ol {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.1em;
    padding: 0px 64px 0px 85px;
    font-weight: 300;
    line-height: 1.4;
    word-break: break-word; }
  #scientific-references-wrapper a {
    color: #40a8bb;
    text-align: center;
    display: block;
    text-decoration: underline;
    font-size: 1.25rem;
    font-weight: 400; }

#buy-now-wrapper #buy-now {
  text-align: center;
  margin-top: -10px;
  margin-right: 16px; }
  @media screen and (min-width: 500px) {
    #buy-now-wrapper #buy-now {
      margin-top: auto;
      margin-right: auto;
      margin-left: auto; } }

#buy-now-wrapper img {
  width: 30%;
  position: relative;
  z-index: 100;
  top: 2px;
  right: -5px;
  max-width: 143px; }

#buy-now-wrapper a {
  transform: scale(1.26);
  padding-right: 37px;
  border-bottom-width: 8px;
  padding-top: 8px;
  font-size: 1.16rem;
  margin-right: 11px; }
  #buy-now-wrapper a span {
    position: relative;
    top: 2px;
    padding-right: 3px;
    padding-left: 19px; }

#footer-wrapper {
  margin-bottom: 55px; }
  #footer-wrapper #footer-logo {
    margin-left: auto;
    margin-right: auto;
    width: 169px;
    text-align: center;
    transform: scale(0.9); }
    #footer-wrapper #footer-logo .logo-circle {
      left: 14px; }
  #footer-wrapper #footer-menu {
    list-style: none;
    padding-left: 0px;
    text-align: center; }
    #footer-wrapper #footer-menu li {
      display: inline-block; }
      #footer-wrapper #footer-menu li a {
        border-right: 1.5px solid #616161;
        padding: 0px 7px 0px 2px;
        color: #757575;
        font-size: 1.1em;
        font-weight: 300; }
      #footer-wrapper #footer-menu li a:hover {
        color: #000;
        text-decoration: underline; }
  #footer-wrapper div ul li:last-child a {
    border-right: none !important; }
  #footer-wrapper span {
    text-align: center;
    display: block;
    font-size: 1.12rem;
    font-weight: 300;
    margin-top: -2px; }
