/* 
Note: Install gulp and gulp-sass from `package.json` via `npm install` and then run `gulp styles` or `gulp watch` to render CSS output for any changes in this file.
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
body {
  font-family: 'Glober', 'Roboto', sans-serif; }

.row {
  margin-left: 0px;
  margin-right: 0px; }

#header-wrapper {
  margin-left: 3px;
  margin-bottom: 9px; }
  #header-wrapper h1 {
    color: #676870;
    margin-top: -1px;
    font-size: 2.7rem; }
  #header-wrapper h2 {
    font-weight: 800;
    font-size: 1.4rem;
    margin-left: -3px; }
    @media screen and (max-width: 461px) {
      #header-wrapper h2 {
        margin-bottom: 0px; } }
  #header-wrapper h3 {
    font-size: 1rem;
    display: inline;
    margin-left: 3px;
    position: relative;
    top: 2px; }
  #header-wrapper a {
    text-decoration: none;
    color: #000; }
  #header-wrapper img {
    width: 7%;
    max-width: 23px;
    position: relative;
    right: 1px; }
  #header-wrapper .logo-circle {
    width: 8px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    display: inline-block;
    -moz-border-radius: 50%;
    border: 2px solid #3fac29;
    height: 8px;
    position: relative;
    left: 95px;
    top: 18px; }
  #header-wrapper #phone {
    color: #54b8cd; }
  @media screen and (min-width: 576px) {
    #header-wrapper {
      margin-bottom: 25px; }
      #header-wrapper #contact-wrapper {
        padding: 18px;
        text-align: right;
        position: relative;
        top: 15px; }
      #header-wrapper h1 {
        font-size: 3.5rem; }
      #header-wrapper .logo-circle {
        height: 10px;
        width: 10px;
        left: 124px;
        top: 22px; } }

#hero-wrapper {
  background-color: #4c813d;
  padding-top: 26px;
  background-image: url(/client/img/green-leaves-bg.jpg);
  background-size: 160% 151%;
  background-position-y: -15px;
  background-position-x: -14px;
  height: 308px; }
  #hero-wrapper h1 {
    text-transform: uppercase;
    color: white;
    font-size: 1.9rem;
    text-align: center;
    letter-spacing: 2.5px;
    overflow: hidden;
    margin: auto -9px 15px -9px; }
  #hero-wrapper h1:before,
  #hero-wrapper h1:after {
    background-color: #fff;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    bottom: 5px;
    width: 50%; }
  #hero-wrapper h1:before {
    right: 0.2em;
    margin-left: -50%; }
  #hero-wrapper h1:after {
    left: 0.2em;
    margin-right: -50%; }
  #hero-wrapper p {
    color: white;
    font-size: 2rem;
    margin-top: -5px;
    width: auto;
    max-width: 315px;
    min-width: 315px;
    font-weight: 500;
    line-height: 1.32em;
    position: relative;
    left: 17px; }
  #hero-wrapper p:nth-child(3) {
    position: relative;
    bottom: 12.5px; }
  #hero-wrapper .asterisk {
    vertical-align: super;
    font-size: 67%;
    position: relative;
    bottom: 3px;
    left: 1px; }
  #hero-wrapper #increases-bone-density {
    font-size: 2.4rem; }
  #hero-wrapper p:nth-child(2) {
    display: block;
    background-image: url(/client/img/underlines.png);
    background-repeat: no-repeat;
    background-size: 80% 42%;
    background-position-y: 114px;
    background-position-x: -7px; }
  @media screen and (min-width: 576px) {
    #hero-wrapper {
      background-position-y: 0px;
      background-position-x: 0px;
      height: auto;
      padding-bottom: 30px; }
      #hero-wrapper h1 {
        font-size: 3em; }
      #hero-wrapper p {
        font-size: 2.7rem;
        max-width: 435px; }
      #hero-wrapper p:nth-child(2) {
        background-size: 80.5% 42%;
        background-position-y: 153px;
        background-position-x: -8px; }
      #hero-wrapper #increases-bone-density {
        font-size: 3rem; } }
  @media screen and (max-width: 360px) {
    #hero-wrapper {
      height: 100%; }
      #hero-wrapper p:nth-child(2) {
        background-image: none; }
      #hero-wrapper #increases-bone-density {
        text-decoration: underline;
        text-decoration-color: #e81010; }
      #hero-wrapper p {
        width: 100%;
        min-width: 100%;
        left: 0px; }
      #hero-wrapper #hero-wrapper h1 {
        font-size: 1.4rem;
        margin: auto 0px 15px 0px; } }
