// SCSS For AlgaeCal Single Page Website
// Tim Knab - August 2018

/* 
Note: Install gulp and gulp-sass from `package.json` via `npm install` and then run `gulp styles` or `gulp watch` to render CSS output for any changes in this file.
*/

// Import Roboto:
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

// SCSS For Body:
body {
  font: {
    // Set font to Glober with Roboto as backup:
    family: 'Glober', 'Roboto', sans-serif;
  }
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

// SCSS for Header Wrapper (Logo and Phone):
#header-wrapper {
  // Add left margin to header:
  margin-left: 3px;
  margin-bottom: 9px;
  // Adjust color and margin of h1:
  h1 {
    color: #676870;
    margin-top: -1px;
    font-size: 2.7rem;
  }
  // Adjust font-weight and size of h2:
  h2 {
    font-weight: 800;
    font-size: 1.4rem;
    margin-left: -3px;
    // Media query to remove margin for small screensizes:
    @media screen and (max-width: 461px) {
      margin-bottom: 0px;
    }
  }
  // Adjust font-size and position of h3:
  h3 {
    font-size: 1rem;
    display: inline;
    margin-left: 3px;
    position: relative;
    top: 2px;
  }
  // Remove any link styling for tap-to-talk button:
  a {
    text-decoration: none;
    color: #000;
  }
  // Ensure call image only gets so big:
  img {
    width: 7%;
    max-width: 23px;
    position: relative;
    right: 1px;
  }
  // Adjust circle above Logo text:
  .logo-circle {
    width: 8px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    display: inline-block;
    -moz-border-radius: 50%;
    border: 2px solid #3fac29;
    height: 8px;
    position: relative;
    left: 95px;
    top: 18px;
  }
  // Set phone color:
  #phone {
    color: #54b8cd;
  }

  // Header Wrapper Media Queries for Screen Sizes above 576px:
  @media screen and (min-width: 576px) {
    // Give header 25px margin beneath:
    margin-bottom: 25px;
    // Adjust Contact Wrapper
    #contact-wrapper {
      padding: 18px;
      text-align: right;
      position: relative;
      top: 15px;
    }
    // Change h1 size
    h1 {
      font-size: 3.5rem;
    }
    // Adjust logo circle position
    .logo-circle {
      height: 10px;
      width: 10px;
      left: 124px;
      top: 22px;
    }
  }
}

// SCSS For Hero Wrapper (Primary Banner):
#hero-wrapper {
  $bg-color: #4c813d;

  background-color: $bg-color;
  padding-top: 26px;
  background-image: url(/client/img/green-leaves-bg.jpg);
  background-size: 160% 151%;
  background-position-y: -15px;
  background-position-x: -14px;
  height: 308px;

  h1 {
    text-transform: uppercase;
    color: white;
    font-size: 1.9rem;
    text-align: center;
    letter-spacing: 2.5px;
    overflow: hidden;
    margin: auto -9px 15px -9px;
  }

  h1:before,
  h1:after {
    background-color: #fff;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    bottom: 5px;
    width: 50%;
  }

  h1:before {
    right: 0.2em;
    margin-left: -50%;
  }

  h1:after {
    left: 0.2em;
    margin-right: -50%;
  }

  p {
    color: white;
    font-size: 2rem;
    margin-top: -5px;
    width: 71%;
    max-width: 369px;
    min-width: 315px;
    font-weight: 500;
    line-height: 1.32em;
    // margin-left: 17px;
    position: relative;
    left: 17px;
  }

  p:nth-child(3) {
    position: relative;
    bottom: 12.5px;
  }

  .asterisk {
    vertical-align: super;
    font-size: 67%;
    position: relative;
    bottom: 3px;
    left: 1px;
  }

  #increases-bone-density {
    font-size: 2.4rem;
  }


  // Add hand-drawn red underlines as background image to paragraph:
p:nth-child(2) {
  display: block;
  background-image: url(/client/img/underlines.png);
  background-repeat: no-repeat;
  background-size: 77% 42%;
  background-position-y: 114px;
  background-position-x: -7px;
}

  // Configure hero wrapper for larger displays:
  @media screen and (min-width: 576px) {
    // Scale up hero background image
    background-position-y: 0px;
    background-position-x: 0px;
    height: auto;
    padding-bottom: 30px;

    // Scales up font-size
    h1 {
      font-size:3em;
    }

    // Scales up font-size
    p  {
      font-size: 2.7rem;
    }

    // Adjusts hand-written underlines
    p:nth-child(2) {
      background-size: 95.5% 42%;
      background-position-y: 153px;
      background-position-x: -8px;
    }

    // Scale up font-size for bone density
    #increases-bone-density {
      font-size: 3rem;
    }
  }
}