// SCSS For AlgaeCal Single Page Website
// Tim Knab - August 2018

/* 
Note: Install gulp and gulp-sass from `package.json` via `npm install` and then run `gulp styles` or `gulp watch` to render CSS output for any changes in this file.
*/

// Import Roboto:
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

// SCSS For Body:
body {
  font: {
    // Set font to Glober with Roboto as backup:
    family: 'Glober', 'Roboto', sans-serif;
  }
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

// SCSS for Header Wrapper (Logo and Phone):
#header-wrapper {
  // Add left margin to header:
  margin-left: 3px;
  margin-bottom: 9px;
  // Adjust color and margin of h1:
  h1 {
    color: #676870;
    margin-top: -1px;
    font-size: 2.7rem;
  }
  // Adjust font-weight and size of h2:
  h2 {
    font-weight: 800;
    font-size: 1.4rem;
    margin-left: -3px;
    // Media query to remove margin for small screensizes:
    @media screen and (max-width: 461px) {
      margin-bottom: 0px;
    }
  }
  // Adjust font-size and position of h3:
  h3 {
    font-size: 1rem;
    display: inline;
    margin-left: 3px;
    position: relative;
    top: 2px;
  }
  // Remove any link styling for tap-to-talk button:
  a {
    text-decoration: none;
    color: #000;
  }
  // Ensure call image only gets so big:
  img {
    width: 7%;
    max-width: 23px;
    position: relative;
    right: 1px;
  }
  // Adjust circle above Logo text:
  .logo-circle {
    width: 8px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    display: inline-block;
    -moz-border-radius: 50%;
    border: 2px solid #3fac29;
    height: 8px;
    position: relative;
    left: 95px;
    top: 18px;
  }
  // Set phone color:
  #phone {
    color: #54b8cd;
  }

  // Header Wrapper Media Queries for Screen Sizes above 576px:
  @media screen and (min-width: 576px) {
    // Give header 25px margin beneath:
    margin-bottom: 25px;
    // Adjust Contact Wrapper
    #contact-wrapper {
      padding: 18px;
      text-align: right;
      position: relative;
      top: 15px;
    }
    // Change h1 size
    h1 {
      font-size: 3.5rem;
    }
    // Adjust logo circle position
    .logo-circle {
      height: 10px;
      width: 10px;
      left: 124px;
      top: 22px;
    }
  }
}

// SCSS For Hero Wrapper (Primary Banner):
#hero-wrapper {
  $bg-color: #4c813d;

  background-color: $bg-color;
  padding-top: 26px;
  background-image: url(../img/green-leaves-bg.jpg);
  background-size: 160% 151%;
  background-position-y: -15px;
  background-position-x: -14px;
  height: 308px;

  h1 {
    text-transform: uppercase;
    color: white;
    font-size: 1.9rem;
    text-align: center;
    letter-spacing: 2.5px;
    overflow: hidden;
    margin: auto -9px 15px -9px;
  }

  h1:before,
  h1:after {
    background-color: #fff;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    bottom: 5px;
    width: 50%;
  }

  h1:before {
    right: 0.2em;
    margin-left: -50%;
  }

  h1:after {
    left: 0.2em;
    margin-right: -50%;
  }

  p {
    color: white;
    font-size: 2rem;
    margin-top: -5px;
    width: auto;
    max-width: 315px;
    min-width: 315px;
    font-weight: 500;
    line-height: 1.32em;
    position: relative;
    left: 17px;
  }

  p:nth-child(3) {
    position: relative;
    bottom: 12.5px;
  }

  .asterisk {
    vertical-align: super;
    font-size: 67%;
    position: relative;
    bottom: 3px;
    left: 1px;
  }

  #increases-bone-density {
    font-size: 2.4rem;
  }


  // Add hand-drawn red underlines as background image to paragraph:
  p:nth-child(2) {
    display: block;
    background-image: url(../img/underlines.png);
    background-repeat: no-repeat;
    background-size: 80% 42%;
    background-position-y: 114px;
    background-position-x: -7px;
  }

  // Configure hero wrapper for larger displays:
  @media screen and (min-width: 576px) {
    // Scale up hero background image
    background-position-y: 0px;
    background-position-x: 0px;
    height: auto;
    padding-bottom: 30px;

    // Scales up font-size
    h1 {
      font-size:3em;
    }

    // Scales up font-size
    p  {
      font-size: 2.7rem;
      max-width: 435px;
    }

    // Adjusts hand-written underlines
    p:nth-child(2) {
      background-size: 80.5% 42%;
      background-position-y: 153px;
      background-position-x: -8px;
    }

    // Scale up font-size for bone density
    #increases-bone-density {
      font-size: 3rem;
    }
  }

  // Configure hero wrapper for very small displays:
  @media screen and (max-width: 360px) {
    // Set hero image height to 100%
    height: 100%;

    // Remove red underlines from Increase Bone Density Text and add red lines instead
    p:nth-child(2) {
      background-image: none;
    }
    #increases-bone-density {
      text-decoration: underline;
      text-decoration-color: #e81010;
    }
    p {
      width: 100%;
      min-width: 100%;
      left: 0px;
    }
    #hero-wrapper h1 {
      font-size: 1.4rem;
      margin: auto 0px 15px 0px;
    }
  }
}

// SCSS for Video Wrapper:
#video-wrapper {
  margin-bottom: 2px;

  p {
    font-size: 1.27rem;
    margin-top: 16px;
    line-height: 1.3;
  }

  p:nth-child(1) {
    margin-bottom: 0px;
  }

  #video-tagline {
    margin-top: 0px;
  }

  #video {
    margin-top: auto;
    margin-bottom: auto;
  }

  // For larger screen sizes:
  @media screen and (min-width: 576px) {
    padding: 40px 20px 30px 20px;
    margin-top: auto;
    margin-bottom: auto;

    p {
      font-size: 2em;
    }

    .col-lg-6 {
      margin-top: auto;
      margin-bottom: auto;
    }

    #video-tagline {
      margin-bottom: 50px;
    }

  }

}

// SCSS for Discount Badges
#pricing-boxes-wrapper {
  margin-top: 24px;
  // style heading tags
  h2, h3 {
    text-align: center;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-weight: 400;
    font-size: 1.1rem;
    color: #0598b3;
    line-height: 1.1em;
  }
  // stlyle discount badge
  .discount-badge {
    z-index: 100;
    padding: 20px;
    background-color: #e87b15;
    font-size: 1.4em;
    color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    height: 70px;
    width: 70px;
    box-shadow: 0px 0px 5px 0px #000000c4;
    margin-left: auto;
    position: relative;
    bottom: 0px;
    right: 1px;
    line-height: 1.1em;
    // set font weights and positioning for card text
    span {
      position: relative;
      right: 5px;
      bottom: 4px;
    }
    span:nth-child(1) {
      font-weight: 500;
    }
    span:nth-child(2) {
      font-weight: 500;
    }
    span:nth-child(3) {
      font-size: .7em;
      left: 1px;
      bottom: 10px;

    }
  }
  // Customize card look and feel
  .card {
    border: none;
    border-radius: none;
    box-shadow: 0px 0px 15px -3px #000000b0;
    margin: -39px 44px -3px 26px;
    padding-top: 19px;
    // adjust image padding on card
    .card-img-top {
      margin-left: auto;
      margin-right: auto;
      margin-top: 6px;
    }
    .card-body {
      padding-top: 0px;
      text-align: center;
      margin-top: -11px;
      padding-bottom: 0px;
      img {
        width: 80px;
        position: relative;
        left: 25px;
        max-width: 92px;
        display: inline;
      }
    }
    .card-text {
      margin: 0px;
      padding: 0px;
    }
    // Adjust price text:
    h4 {
      font-size: 2rem;
      margin-bottom: 1px;
      // Adjust size on dollar sign
      span:nth-child(1) {
        vertical-align: super;
        font-size: 1.2rem;
      }
      // Adjust size on USD text
      span:nth-child(2) {
        text-decoration: underline;
        font-size: .4em;
        vertical-align: middle;
        position: relative;
        bottom: 1px;
      }
    }
    // Adjust only $/a day text:
    h5 {
      margin-bottom: 1px;
      font-weight: 400;
      span {
        vertical-align: super;
        font-size: .6em;
        font-weight: bold;
      }
    }

    .btn-primary {
      background-color: #38a33f;
      border-color: #24875a;
      font-weight: 400;
      font-size: 1.1rem;
      border-bottom-width: 6px;
      border-top: 0px;
      border-left: 0px;
      border-right: 0px;
      letter-spacing: 1px;
      padding: 9px 20px 6px 30px;
      border-radius: 7px;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
    }
    .btn-primary:hover {
      background-color: #43c56c;
    }

    .seven-year-guarantee {
      background-image: url(../img/7-years-guarantee-better-bone-health.png);
      background-size: cover;
      width: 77px;
      height: 77px;
      position: relative;
      display: inline-block;
      top: 68px;
      right: 110px;
    }
    
    i {
      padding-left: 5px;
      font-size: 87%;
    }
    .add-to-cart {
      position: relative;
      display: inline-block;
      right: 34px;
      width: 115%;
    }
  }
  // Adjust positioning on successive badges:
  .successive-badge {
    position: relative;
    top: 17px;
  }
    @media screen and (max-width: 337px) and (min-width: 365px) {
      .card-body {
        img {
          left: -20% !important;
          top: 60px;
        }
      }
    }
  @media screen and (max-width: 365px) {
    h2 {
     font-size: 1.25em; 
    }
    i {
      padding-left: 0px !important;
    }
    .add-to-cart {
      width: 100% !important;
      right: 0px !important;
      padding-left: 10px;
      margin-top: -72px;
    }
    .btn-primary {
      width: 100% !important;
      padding: 9px 0px 6px 35px !important;
    }
    .card-body {
      padding-bottom: 0px;
      img {
        left: -80px !important;
        top: 63px;
        transform: scale(.85);
      }
    }
  }
  @media screen and (max-width: 632px) and (min-width: 420px) {
    .add-to-cart {
      // padding: auto 50px auto 50px;
      width: 100% !important;
      right: 0px !important;
      margin-top: -67px;
      padding: 0px 0px 10px 20px;
    }
    .btn-primary {
      width: 100% !important;
    }
    .card-body {
      img {
        left: -43% !important;
        top: 60px;
      }
    }
  }
  // For larger screen sizes:
  @media screen and (min-width: 633px) and (max-width: 991px) {
    h4 {
      font-size: 3.5rem;
    }
    h5 {
      font-size: 1.5rem;
    }
    .discount-badge {
      transform: scale(2);
      right: 50px;
    }
    .add-to-cart {
      width: 100% !important;
      right: 0px !important;
      padding: 0px 50px 22px 50px;
      margin-top: -86px;
    }
    .btn-primary {
      width: 100% !important;
      font-size: 1.4rem !important;
    }
    .card {
      margin-bottom: 40px;
      .card-body {
        margin-top: -39px !important;
        img {
          width: 100px;
          top: 71px !important;
          max-width: 100px;
          left: -43.2% !important;
        }
      }
    }
  }
  @media screen and (min-width: 776px) and (max-width: 991px) {
    .card {
      .card-body {
        img {
          left: -45% !important;
        }
      }
    }
  }
  @media screen and (min-width: 527px) and (max-width: 632px) {
    .discount-badge {
      transform: scale(1.7);
      top: 12px;
      right: 50px;
    }
  }
  // For larger screen sizes:
  @media screen and (min-width: 992px) {
    .card {
      margin: -39px 15px 0px 15px;
    }
    .successive-badge {
      top: -8px;
    }
    .discount-badge {
      transform: scale(1.2);
      bottom: 10px;
    }
    .add-to-cart {
      width: 90% !important;
      right: 0px !important;
      margin-left: auto;
      margin-right: auto;
    }
    .btn-primary {
      width: 90%;
      padding: 9px 15px 6px 40px !important;
    }
    .card {
      .card-body {
        img {
          position: absolute;
          left: -20px;
          top: -18px;
          transform: scale(0.8);
        }
      }
    }
  }
  @media screen and (min-width: 1200px) {
    .discount-badge {
      transform: scale(1.3);
      right: 10px;
    }
  }
}